@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="btn btn-primary" />
}

<div class="links">
    <h2>@Html.ActionLink("Back to Engineers", "Index")</h2>
</div>